<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">
	
	<!-- FILE Appender -->
	<appender name="FILE" class="org.apache.log4j.FileAppender">
		<param name="File" value="c:/logs/mangal.log" />
		<param name="Append" value="false" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%t %-5p %c - %m%n" />
		</layout>
	</appender>

	<!-- CONSOLE Appender -->
	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ISO8601} %-5p [%c{1}] %m%n" />
		</layout>
	</appender>

	<!-- Limit Category and Specify Priority -->
	<category name="com.mangal">
		<priority value="MANGAL" class="com.mangal.tutorials.MangalLog4jLevel" />
		<appender-ref ref="CONSOLE" />
	</category>

	<!-- Setup the Root category -->
	<root>
		<appender-ref ref="CONSOLE" />
	</root>
</log4j:configuration>